#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.counters{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.counter {
  display: flex;
  min-width: 320px;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

 .addButton {
  min-width: 100px;
  display: flex;
}